<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<title>Wedding Planner!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="https://kit.fontawesome.com/59ad34aafc.js" crossorigin="anonymous"></script>
		
		
	</head>
	
	<body>
		{{{ body }}}
	<script src="/js/login.js"></script>
	<script src="/js/members.js"></script>
	<script src="/js/planner.js"></script>
	<script src="/js/signup.js"></script>
	<script src="/js/vendor-create.js"></script>
	<script src="/js/guest-create.js"></script>
	<script src="js/summary.js"></script>
 <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>

	</body>
</html>
