{{!-- Event Input Form --}}
<form class="planner">
    {{!-- Couple --}}
    <div class="form-group">
        <label for="couple">Couple</label>
        <input type="text" class="form-control" id="coupleInput" placeholder="couple">
    </div>
    {{!-- Venue --}}
    <div class="form-group">
        <label for="venue" id="venue">Venue</label>
        <input type="text" class="form-control" id="venueInput" value= ""  placeholder="venue">
        <h2 id="photo"></h2>
    </div>
    {{!-- Event Date --}}
    <div class="form-group">
        <label for="date">Date</label>
        <input type="text" class="form-control" id="dateInput" placeholder="date">
    </div>
    {{!-- Street Address --}}
    <div class="form-group">
        <label for="addressStreet">Street Address</label>
        <input type="text" class="form-control" id="addressStreetInput" placeholder="addressStreet">
    </div>
    {{!-- City Address --}}
    <div class="form-group">
        <label for="addressCity">City</label>
        <input type="text" class="form-control" id="addressCityInput" placeholder="addressCity">
    </div>
    {{!-- Food Option One --}}
    <div class="form-group">
        <label for="foodOptionOne">Food Option One</label>
        <input type="text" class="form-control" id="foodOptionOneInput" placeholder="foodOptionOne">
    </div>
    {{!-- Food Option Two --}}
    <div class="form-group">
        <label for="foodOptionTwo">Food Option Two</label>
        <input type="text" class="form-control" id="foodOptionTwoInput" placeholder="foodOptionTwo">
    </div>
</form>

{{!-- Submit button --}}
<button type="button" class="btn btn-success" id="submit">Submit</button>

{{!-- Scripts --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- API key for Google API autocomplete feature for Venue info --}}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDZugWOlMVS7_70ajiCk05Mcn_g7qHMsls&libraries=places"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript" src="js/planner.js"></script>