<body>
  <main>
    {{!-- Vendor Input Form --}}
    <div class="card shadow-lg p-3 mb-5 bg-white rounded">
      <div class="card-header">
        <h3>Add a Vendor</h3>
      </div>
      <form class="vendor">
        {{!-- This value here is for the eventInfoId to create vendor --}}
        <h3 id="eventInfoId">{{eventInfoId}}</h3>
        <div class="form-group">
          {{!-- Name --}}
          <div class="form-group">
            <label for="vendorName">Name</label>
            <input type="text" class="form-control" id="vendorNameInput" placeholder="Vendor Name">
          </div>
          {{!-- Service --}}
          <div class="form-group">
            <label for="vendorService">Service</label>
            <input type="text" class="form-control" id="vendorServiceInput" placeholder="Vendor Service">
          </div>
          {{!-- Email --}}
          <div class="form-group">
            <label for="vendorEmail">Email</label>
            <input type="text" class="form-control" id="vendorEmailInput" placeholder="Email">
          </div>
          {{!-- Phone --}}
          <div class="form-group">
            <label for="vendorPhone">Phone</label>
            <input type="text" class="form-control" id="vendorPhoneInput" placeholder="Phone">
          </div>
          {{!-- Submit button --}}
          <button type="button" class="btn navbtn1" id="submitVendorCreate">Submit<br><i class="fas fa-sign-in-alt"></i></button>
    <button type="button" class="btn navbtn1" id="addNewVendor">New Vendor<br><i class="fas fa-user-plus"></i></button>
      </form>
    </div>
    </div>
    </div>


    {{!-- Submit button --}}
    

    {{!-- Scripts --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/vendor-create.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/gsap-latest-beta.min.js"></script>
</body>
</main>