{{!-- Vendor Input Form --}}
<form class="vendor">
  <div class="form-group">
    {{!-- Name --}}
    <div class="form-group">
      <label for="vendorName">Name</label>
      <input type="text" class="form-control" id="vendorNameInput" placeholder="vendorName">
    </div>
    {{!-- Service --}}
    <div class="form-group">
      <label for="vendorService">Service</label>
      <input type="text" class="form-control" id="vendorServiceInput" placeholder="vendorService">
    </div>
    {{!-- Email --}}
    <div class="form-group">
      <label for="vendorEmail">Email</label>
      <input type="text" class="form-control" id="vendorEmailInput" placeholder="vendorEmail">
    </div>
    {{!-- Phone --}}
    <div class="form-group">
      <label for="vendorPhone">Phone</label>
      <input type="text" class="form-control" id="vendorPhoneInput" placeholder="vendorPhone">
    </div>
</form>

{{!-- Submit button --}}
<button type="button" class="btn btn-success" id="submitVendorCreate">Submit</button>

{{!-- Scripts --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/vendor-create.js"></script>