@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
html, body {
  width: 100%;
  height:100%;
}
/* .palmtrees{
  z-index: -3;
} */
body {    
    background-color: transparent;  
    background: linear-gradient(-45deg, #c5c5ae, #f1cfa7, #ffaab0, #fbf9ea);
    background-size: 150% 150%;
    animation: gradient 35s ease infinite;
   
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

  form.signup,
  form.login {
    margin-top: 20px;
  }

  main,
  header,
  section {
    margin: 10;
    /* margin-bottom:20px; */
    padding: 10px;
    justify-content: center;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
    /* position: relative; */
  }

  .container {
    width: auto;
    /* padding: 0 15px; */
  }

  /* #summary-card {
    max-width: 900px;
  } */

  #members-card {
    max-width: 700px;
  }

  .card {
    font-family: "Raleway", sans-serif;
    padding: 10px;
    margin: 15px;
    word-wrap: none;
  }

  .btn {
    margin: 5px;
  }

  #summary-card {
    padding: 10px;
    margin: 10px;
    }

  #vendor-section {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #a9a9a9;
  }


textarea {
  border: none;
  background-color: transparent;
  outline: none;
  resize: none;
}

#eventInfoId {
  visibility: hidden;
}

footer {
  z-index: -3;  
  position: fixed;
  bottom: 0;
  width: 100%;  
  text-align: center;
}


#logo{
  width: 100%;
}
.color{
background-color: #e6e3de;
color: black !important;
}

.navbtn1{
  background: transparent;
  border: none;
}
#memberslogo{
  width: 60%;
}

.linkcolor{
  color: black;
}

button:hover{
  border-color: black;

}
.col:hover{
  border-color: black;
  
}
.loginbutton{
  background-color: #f3f5e2;
  border-radius: .25rem;
  border-color: black;
  margin-top: 2%;
}
.buttonrow{
  align-content: right;
}
