@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@media(min-width:468px) {

form.signup,
form.login {
  margin-top: 50px;
}

main, header, section, aside, footer, .container {
  margin: 0;
  padding: 20px; 
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

p{
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 20px;
  color: #a9a9a9;
}
}

textarea {
  border: none;
  background-color: transparent;
  outline: none;
  resize: none;
}

#eventInfoId{
  visibility: hidden;
}

.logo{
  background-image: url(/public/Ap4p.png);
}