@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

@media (min-width: 468px) {
  form.signup,
  form.login {
    margin-top: 20px;
  }

  main,
  header,
  section,
  aside,
  .container {
    margin: 10;
    margin-bottom:20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
  }

  #vendor-section {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    color: #a9a9a9;
  }
}

textarea {
  border: none;
  background-color: transparent;
  outline: none;
  resize: none;
}

#eventInfoId {
  visibility: hidden;
}

#sticky-footer {
  position: fixed;
  left: 
  0;
  bottom: 0;
  width: 100%;  
  text-align: center;
}


body{
  background-color: #e9f4f2 !important;
}

#logo{
  width: 100%;
}
.color{
background-color: #e9f4f2;
color: black !important;
}

.navbtn1{
  background: transparent;
  border: none;
}
#memberslogo{
  width: 60%;
}